body {
  max-width: 1440px;
  margin: auto;
}

* {
  margin: 0;
}

.App {
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  background-color: #ffffff;
}

.main-content {
  flex: 1;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1240px;
  height: 68px;
  margin: auto;
  padding: 35px 20px 10px;
  width: 100%;
}

.header-container .logo {
  height: 68px;
}

.header-container .navbar {
  display: flex;
  align-items: center;
  gap: 57px;
}

.header-container .navbar .nav {
  color: #000000;
  text-align: right;
  font-size: 24px;
  text-decoration: none;
}

.header-container .navbar .nav.active {
  text-decoration-line: underline;
  text-underline-position: under;
}

.main-home,
.main-about,
.logement-page {
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
  width: 100%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 25px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
}

.banner img {
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  max-width: 1240px;
  height: 223px;
  position: relative;
}

.banner-title {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  text-shadow: 0 0 2px #000000;
  margin: 0 20px;
  padding: 20px;
  font-size: 48px;
  font-weight: 500;
}

.logements-container {
  background-color: #f6f6f6;
  border-radius: 25px;
  width: 100%;
  max-width: 1240px;
  margin: 32px auto 40px;
}

.logements-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 1rem;
  list-style-type: none;
}

.logement {
  width: 33.3%;
}

.logement a {
  text-decoration: none;
}

.logement-figure {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 23px;
  margin-block: 0;
  border-radius: 0.5rem;
  transition: all 0.25s;
}

.logement-figure:hover {
  transform: scale(1.02);
}

.logement-figure-cover {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 290px;
}

.logement-figure-figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(10, 10, 10, 0.4), rgba(4, 4, 4, 0.2), rgba(0, 0, 0, 0.5));
}

.logement-figure-figcaption-title {
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 75%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.collapse {
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
}

.collapse-header {
  display: flex;
  width: 100%;
  height: 52px;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 7.5px;
  background-color: #ff6060;
  padding: 0;
}

.collapse-header:hover {
  cursor: pointer;
}

.collapse-header-title {
  color: #ffffff;
  padding-left: 14px;
  font-size: 24px;
  font-weight: 700;
}

.collapse-header-image1,
.collapse-header-image2 {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.collapse-header-image1 img {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}

.collapse-header-image2 img {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

.collapse-content {
  display: block;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(246, 246, 246, 0.45);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  animation: slide 0.2s ease-out;
}

@keyframes slide {
  0% {
    transform-origin: top;
    transform: scaleY(0.7);
  }
}

.collapse-content ul {
  margin-left: -40px;
}

.main-about .banner {
  margin: 25px auto;
}

.main-about .banner img {
  filter: brightness(70%);
  margin-bottom: 5px;
}

.collapse-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 45px;
}

.collapse-about {
  width: 80%;
  margin: auto auto 30px;
}

.content {
  width: 100%;
  margin-bottom: 10px;
}

.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  height: 209px;
  margin: 15px auto auto;
  background-color: #000000;
}

.footer-logo {
  width: 122px;
  margin-top: 66px;
}

.footer-text {
  color: #ffffff;
  margin-top: 50px;
  font-size: 24px;
}

.slideshow {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1240px;
  margin: 20px auto auto;
  display: flex;
  justify-content: center;
}

.slideshow-container {
  display: flex;
  transition: transform 0.2s;
}

.slideshow-container-img {
  width: 100%;
  max-width: 1240px;
  height: 415px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 25px;
}

.slideshow-controls {
  position: absolute;
  top: 32%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slideshow-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.slideshow-controls-chevron {
  width: 46px;
  height: 79px;
  margin: 23px;
}

.slideshow-idx {
  position: absolute;
  top: 85%;
  left: 49%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 32px;
  font-size: 18px;
  color: #ffffff;
}

.rating-star {
  width: 400px;
  height: 36px;
  margin-top: 24px;
  text-align: right;
}

.rating-star-red,
.rating-star-grey {
  width: 36px;
  height: 36px;
  padding-left: 15px;
}

.logement-page {
  display: flex;
  flex-direction: column;
}

.logement-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  font-style: normal;
}

.logement-page-header-infos {
  display: flex;
  flex-direction: column;
}

.logement-page-header-infos-title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
}

.logement-page-header-infos-subtitle {
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.logement-page-header-infos-tags {
  display: flex;
  flex-wrap: wrap;
}

.logement-page-header-infos-tags-tag {
  display: flex;
  align-items: center;
  width: auto;
  height: 25px;
  margin: 10px 15px 0 0;
  padding: 0 30px;
  border-radius: 9px;
  background-color: #ff6060;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  flex-shrink: 0;
}

.logement-page-header-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logement-page-header-host-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
}

.logement-page-header-host-infos-name {
  width: 93px;
  height: 52px;
  margin: auto 10px auto 0;
  color: #ff6060;
  text-align: right;
  font-size: 18px;
  line-height: 27px;
}

.logement-page-header-host-infos-img {
  width: 64px;
  height: 64px;
  padding-right: 5px;
  border-radius: 50%;
  object-fit: cover;
}

.logement-page-collapses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-top: 35px;
  padding-bottom: 30px;
}

.logement-page-collapses-content {
  width: 46%;
  border-radius: 18px;
  list-style: none;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 105px;
  margin-top: 50px;
  padding: 16px;
  text-align: center;
}

.error-page .error-page-number {
  color: #ff6060;
  font-size: 288px;
  font-weight: 700;
}

.error-page .error-page-text {
  color: #ff6060;
  font-size: 36px;
}

.error-page .error-page-link {
  color: #000000;
  font-size: 18px;
  margin-bottom: 120px;
  text-underline-position: under;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner-title {
    font-size: 36px;
  }

  .logement {
    width: 50%;
  }

  .collapse-header-title {
    font-size: 18px;
  }

  .collapse-header-image1 img,
  .collapse-header-image2 img {
    width: 21px;
  }

  .error-page .error-page-number {
    font-size: 200px;
  }

  .error-page .error-page-text {
    font-size: 24px;
  }

  .error-page .error-page-link {
    font-size: 16px;
  }

  .logement-page-header {
    flex-direction: column;
  }

  .logement-page-header-host {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
  }

  .rating-star {
    width: 200px;
    text-align: left;
  }

  .logement-page-collapses {
    flex-direction: column;
    gap: 40px;
  }

  .logement-page-collapses-content {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 16px;
  }

  .header-container {
    padding: 0 20px 5px;
  }

  .header-container .logo {
    height: 46px;
    margin-top: 11px;
  }

  .header-container .navbar {
    gap: 20px;
  }

  .header-container .navbar .nav {
    text-transform: uppercase;
    font-size: 12px;
  }

  .banner {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .banner img,
  .banner-img {
    height: 111px;
    border-radius: 10px;
  }

  .banner-title {
    font-size: 24px;
    padding: 16px;
    margin: 0;
  }

  .logements-container {
    background-color: #ffffff;
    margin: 0;
  }

  .logements-list {
    padding: 0;
  }

  .logement {
    width: 100%;
  }

  .logement-figure {
    margin: auto auto 20px;
  }

  .logement-figure-cover {
    height: 255px;
  }

  .collapse-group {
    gap: 0;
    margin-top: -8px;
    margin-bottom: -1px;
  }

  .collapse-about {
    width: 100%;
    margin-bottom: 27px;
  }

  .collapse-header {
    height: 30px;
    border-radius: 5px;
  }

  .collapse-header-title {
    font-size: 13px;
  }

  .collapse-header-image1 img,
  .collapse-header-image2 img {
    width: 16px;
  }

  .collapse-content {
    font-size: 12px;
  }

  .footer {
    margin-top: 0;
  }

  .footer-text {
    max-width: 133px;
    margin: 15px auto;
    font-size: 12px;
    text-align: center;
  }

  .slideshow-container-img {
    height: 255px;
    border-radius: 10px;
  }

  .slideshow-controls {
    top: 42%;
  }

  .slideshow-controls-chevron {
    width: auto;
    height: 24px;
    margin: 10px;
  }

  .slideshow-idx {
    display: none;
  }

  .rating-star,
  .rating-star img {
    height: 18px;
  }

  .rating-star {
    width: 200px;
    text-align: left;
  }

  .rating-star-red,
  .rating-star-grey {
    padding-left: 0;
    padding-right: 9px;
  }

  .logement-page-header {
    flex-direction: column;
    margin-top: 15px;
  }

  .logement-page-header-host {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15px;
    width: 100%;
  }

  .logement-page-header-infos-title {
    font-size: 18px;
  }

  .logement-page-header-infos-subtitle {
    font-size: 14px;
  }

  .logement-page-header-infos-tags-tag {
    width: auto;
    height: 18px;
    border-radius: 5px;
    font-size: 10px;
    padding: 0 20px;
  }

  .logement-page-header-host-infos-name {
    width: 60px;
    height: 33px;
    font-size: 12px;
    line-height: 17px;
  }

  .logement-page-header-host-infos-img {
    width: 32px;
    height: 32px;
  }

  .logement-page-collapses {
    flex-direction: column;
    gap: 31px;
    padding-top: 13px;
    padding-bottom: 30px;
  }

  .logement-page-collapses-content {
    width: 100%;
  }

  .error-page .error-page-number {
    font-size: 96px;
  }

  .error-page .error-page-text {
    font-size: 18px;
  }

  .error-page .error-page-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 358px) {
  body {
    padding-top: 8px;
  }

  .header-container {
    padding: 0 20px;
  }

  .header-container .logo {
    height: 32px;
    margin-top: 18px;
  }
}
